.git
.idea
.ipynb_checkpoints
notebooks
unused
Dockerfile
.DS_Store
.gitignore
README.md
env.*
devops
__pycache__
docker-compose.yml

# To prevent storing dev/temporary container data, local storage & runs
tmp
storage
runs
test_data
